---
import Socials from "./Socials.astro";

const linksOne = [
    { text: 'About Us' },
    { text: 'Jobs' },
    { text: 'Press' },
    { text: 'Blog' }
]

const linksTwo = [
    { text: 'Contact Us' },
    { text: 'Terms' },
    { text: 'Privacy' }
];
---

<div class="links">
    <ul class="list">
        {linksOne.map(link => (
            <li>{link.text}</li>
        ))}
    </ul>
    <ul class="list">
        {linksTwo.map(link => (
            <li>{link.text}</li>
        ))}
    </ul>

    <Socials />

</div>

<style>
    .links {
        margin-top: 3rem;
        display: grid;
        gap: 2rem;
    }

     li {
        margin: .75rem 0;

    }

    /* @media (min-width: 1440px) {
        .links {
            display: flex;

            & ul {
                flex: 1;
            }
        }
    } */
</style>