---
import Socials from "./Socials.astro";

const linksOne = [
    { text: 'About Us' },
    { text: 'Jobs' },
    { text: 'Press' },
    { text: 'Blog' }
]

const linksTwo = [
    { text: 'Contact Us' },
    { text: 'Terms' },
    { text: 'Privacy' }
];
---

<div class="links">
    <div class="lists">
        <ul class="list">
            {linksOne.map(link => (
                <li>
                    <a href="#">{link.text}</a>
                </li>
            ))}
        </ul>
        <ul class="list">
            {linksTwo.map(link => (
                <li>
                    <a href="#">{link.text}</a>
                </li>
            ))}
        </ul>
    </div>

    <Socials />

</div>

<style>
    .links {
        margin-top: 3rem;
        display: grid;
        gap: 2rem;
    }

    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
    }

     li {
        margin: .75rem 0;

    }

    @media (min-width: 1440px) {
        .links {
            margin-top: 0;
            grid-template-columns: 2fr 1fr;

            & ul {
                flex: 1;
            }
        }
    }
</style>