---
const socialLinks = [
    { icon: 'imgs/social-icons/facebook.svg' },
    { icon: 'imgs/social-icons/twitter.svg' },
    { icon: 'imgs/social-icons/instagram.svg' }
];
---

<ul class="socials">
    {socialLinks.map(soc => (
        <li><img src={soc.icon} alt="Icon"></li>
    ))}
</ul>

<style>
    .socials {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    li {
        padding: .5rem;
        border: 1px solid var(--White);
        border-radius: 100%;
        margin: 0.5rem;
        cursor: pointer;

        &:hover {
            background-color: var(--Blue-cta);
        }

        & img {
            width: 1rem;
            height: auto;
        }
    }

    @media (min-width: 1440px) {
        li {
            height: fit-content;

            & img {
                width: 1rem;
                min-width: 1rem;
            }
        }
    }
</style>