---
const teamMembers = [
    {
        avatar: '/imgs/profile-1.jpg',
        name: 'John Doe',
        title: 'CEO at Astro'
    },
    {
        avatar: '/imgs/profile-3.jpg',
        name: 'Marry Joe',
        title: 'Graphic designer'
    },
    {
        avatar: '/imgs/profile-2.jpg',
        name: 'Filip Foo',
        title: 'Web Developer'
    }
]
---

{teamMembers.map(member => (
    <div class="member">
        <img src={member.avatar} alt="Team Member">
        <div class="bio">
            <h4>{member.name}</h4>
            <h5>{member.title}</h5>
        </div>
    </div>
))}

<style>
    .member {
        border-radius: 2rem 2rem 0 0;
        overflow: hidden;
    }

    .member img {
        width: 100%;
        object-fit: cover;
    }

    .member .bio {
        width: 70%;
        border: 1px solid var(--Cyan-cta);
        display: inline-block;
        background-color: var(--Dark-Blue-main-bg);
        padding: 1.5rem;
        margin: -3rem 15% 0;
        text-align: center;

        & h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        & h5 {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            letter-spacing: 2px;
        }
    }   
    
</style>