@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
}