@import './animation-keyframes.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    /* Primary */
    --Dark-Blue-intro: hsl(217, 28%, 15%);    /* (intro and email sign up background) */
    --Dark-Blue-main-bg: hsl(218, 28%, 13%);   /* (main background) */
    --Dark-Blue-footer-bg: hsl(216, 53%, 9%);   /* (footer background) */
    --Dark-Blue-testimonials-bg: hsl(219, 30%, 18%);   /* (testimonials background) */
    /* Accent */
    --Cyan-cta: hsl(176, 68%, 64%);   /* (inside call-to-action gradient) */
    --Blue-cta: hsl(198, 60%, 50%);   /* (inside call-to-action gradient) */
    --Light-Red: hsl(0, 100%, 63%);   /* (error) */
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Dark-White: hsla(0, 0%, 100%, 0.7);
}

html {
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--White);
    }
}

button {
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

a,
button {
    transition: all 250ms ease-in-out;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: var(--Dark-Blue-main-bg);
    color: var(--Dark-White);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--White);
}


@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}