---
import logo from '/imgs/logo.svg';

import Links from './footer-elems/Links.astro';

const detailIcons = {
        location: 'imgs/icon-location.svg',
        phone: 'imgs/icon-phone.svg',
        email: 'imgs/icon-email.svg',
    }
---

<footer>
    <a href="#" class="logo">
        <img src={logo} alt="Logo">
    </a>
    <div class="details">
        <span class="icon">
            <img src={detailIcons.location} alt="Icon">
        </span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        <span class="icon">
            <img src={detailIcons.phone} alt="Icon">
        </span>
        <p>+1-543-123-4567</p>
        <span class="icon">
            <img src={detailIcons.email} alt="Icon">
        </span>
        <p>example@fylo.com</p>
    </div>

    <Links />

    <p class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="#https://www.frontendmentor.io/profile/SinisaVukmirovic" target="_blank">SinisaVukmirovic</a>.
    </p>
</footer>

<style>
    footer {
        padding: 18rem 2rem 0;
        background-color: var(--Dark-Blue-footer-bg);
    }

    .details {
        padding: 3rem 0;
        display: grid;
        grid-template-columns: auto 1fr;
        row-gap: 2rem;
        column-gap: 1rem;
    }

    .attribution {
        text-align: center;
        font-size: .7rem;
        margin-top: 2rem;
        padding: .5rem;
        border-top: 2px solid var(--Dark-Blue-intro);

        & a {
            color: var(--Blue-cta);
        }
    }
</style>