---
import heroImg from '/imgs/illustration-intro.png';
---

<header>    
    <h1 class="hidden">Fylo Dark Theme Landing Page<h1>
        
    <img class="hero-img" src={heroImg} alt="Illustration">

    <h2>All your files in one secure location, accessible anywhere.</h2>

    <p>Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.</p>

    <button>Get Started</button>
</header>

<style>
    .hidden {
        position: absolute;
        left: -500%;
    }

    header {
        padding: 2rem;
        text-align: center;
        background: url('/imgs/bg-curvy-mobile.svg'), 
                    linear-gradient(var(--Dark-Blue-intro) 55%, var(--Dark-Blue-main-bg) 45%);
        /* background-color: var(--Dark-Blue-intro); */
        /* background-image: url('/imgs/bg-curvy-mobile.svg'); */
        background-repeat: no-repeat;
        background-position: center 45%;
        background-size: contain;

        & .hero-img {
            display: block;
            max-width: 100%;
        }

        & h2.headline {
            font-size: 1.6rem;
            line-height: 1.5;
            margin: 1.5rem 0;
        }

        & p {
            line-height: 1.5;
            padding: 0 1rem;
        }
    }

    button {
        padding: 1.25rem 6rem;
        border-radius: 10rem;
        outline: none;
        border: none;
        background-color: var(--Blue-cta);
        color: var(--White);
        margin: 2rem 0;

        &:hover {
            background-color: var(--Cyan-cta);
            color: var(--Dark-Blue-main-bg);
        }
    }

    @media (min-width: 1440px) {
        .hero-img {
            width: 40rem;
            margin: 5rem auto 2rem;
        }

        h2 {
            font-size: 2rem !important;
            text-align: center;
            display: inline-block;  /* ??? */
            width: 35ch;
        }

        p {
            width: 55ch;
            margin: 2rem auto 0;
        }
    }
</style>