---
import Services from './Services.astro';
import Productive from './Productive.astro';
import Testimonials from './Testimonials.astro';
import Access from './Access.astro';
import Footer from './Footer.astro';
---

<main>
    <Services />

    <Productive />

    <Testimonials />

    <Access />

    <Footer />
</main>

