---
import Services from './Services.astro';
import Productive from './Productive.astro';
import Testimonials from './Testimonials.astro';
---

<main>
    <Services />

    <Productive />

    <Testimonials />
</main>

