---
import logo from '/imgs/logo.svg';

const links = [
    {
        href: '#',
        text: 'Features'
    },
    {
        href: '#',
        text: 'Team'
    },
    {
        href: '#',
        text: 'Sign In'
    }
];
---

<nav>
    <a href="#" class="logo">
        <img src={logo} alt="Logo">
    </a>
    <ul class="nav-links">
        {links.map(link => (
            <li>
                <a href={link.href}>{link.text}</a>
            </li>
        ))}
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .logo img {
        max-width: 5rem;
        flex: 1;
    }

    .nav-links {
        display: flex;
    }
    
    .nav-links li {
        padding: .5rem 1rem;
        margin: 0 1rem;
    }

    .nav-links a {
        font-size: .9rem;
        color: var(--Dark-White);

        &:hover {
            text-decoration: underline;
            color: var(--White);
        }
    }

    @media (min-width: 1440px) {
        nav {
            padding: 4rem 5% 1rem;
        }

        .logo img {
            max-width: 10rem;
        }
    }
</style>