---
const productiveImg = '/imgs/illustration-stay-productive.png';
const iconArrow = '/imgs/icon-arrow.svg';
---

<section class="productive">
    <div>
        <img class="prod-img hidden" src={productiveImg} alt="Graphic image" loading="lazy" height="241px">
    </div>
    <div>
        <h3>Stay productive, wherever you are</h3>
        <p>Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.</p>
        <br />
        <p>Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.</p>
        <span class="cta">
            <a href="https://www.frontendmentor.io/profile/SinisaVukmirovic" target="_blank">See how Fylo works <img src={iconArrow} alt="Icon"></a>
        </span>
    </div>
</section>

<style>
    .productive {
        padding: 10rem 2rem;

        & .prod-img {
            transition: all 1s ease-out;
            margin: 0 auto;
        }

        & .prod-img.hidden {
            opacity: 0;
            scale: .5;
        }

        & h3 {
            text-align: center;
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin: 2rem 0 1rem;
        }

        & p {
            line-height: 1.5;
        }

        & .cta {
            display: inline-block;
            color: var(--Cyan-cta);
            margin-top: 1rem;
            padding: .2rem 0;

            border-bottom: 1px solid var(--Cyan-cta);
            width: fit-content;
            cursor: pointer;
            transition: border 250ms ease-in-out;

            & a {
                display: flex;
                align-items: center;
                font-size: .8rem;
            }

            & img {
                display: inline-block;
                margin-left: .5rem;
            }
        }
    }

    .cta:hover {
        color: var(--White);
        border-bottom: 1px solid var(--White);
    }

    @media (min-width: 768px) {
        .productive {
            padding: 5rem 10%;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }

    @media (min-width: 1440px) {
        .productive {
            padding: 10rem 10%;
            display: grid;
            place-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;

            & img.prod-img {
                width: 100%;
                height: 100%;
                /* animation: fadeIn 1.5s ease-out; */
            }

            & h3 {
                text-align: left;
                font-size: 2.2rem;
                width: 20ch;
            }
        }
    }
</style>

<script>
    const prodImg = document.querySelector('.prod-img');

    const intObsOptions = {
        threshold: 1
    };

    const prodImgObs = new IntersectionObserver((entries, intObsOptions) => {
        entries.forEach(entry => {
            if (!entry.isIntersecting) {
                return;
            } else {
                entry.target.classList.remove('hidden');
            }
        }, intObsOptions);
    });

    prodImgObs.observe(prodImg);
</script>