---
const servicesCards = [
    {
        src: '/imgs/icon-access-anywhere.svg',
        headline: 'Access your files, anywhere',
        text: 'The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.'
    },
    {
        src: '/imgs/icon-security.svg',
        headline: 'Security you can trust',
        text: '2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.'
    },
    {
        src: '/imgs/icon-collaboration.svg',
        headline: 'Real-time collaboration',
        text: 'Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.'
    },
    {
        src: '/imgs/icon-any-file.svg',
        headline: 'Store any type of file',
        text: 'Whether you\'re sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.'
    },
]
---

<section class="services">
    {servicesCards.map(card => (
        <div class="service-card hidden">
            <img src={card.src} alt="Icon">
            <h3>{card.headline}</h3>
            <p>{card.text}</p>
        </div>
    ))}
</section>

<style>
    .services {
        padding: 3rem 2rem;
    }

    .service-card {
        text-align: center;
        padding: 3rem 2rem;
        transition: all 1.5s ease-out;

        & img {
            height: 4rem;
            margin: 0 auto;
        }

        & h3 {
            margin: 2rem 0 1rem;
        }

        & p {
            font-size: .9rem;
        }
    }

    .service-card:nth-child(odd).hidden {
        opacity: 0;
        transform: translate(-10%);
    }
    .service-card:nth-child(even).hidden {
        opacity: 0;
        transform: translate(10%);
    }

    @media (min-width: 1440px) {
        .services {
            padding: 5rem 15%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 5rem;
        }

        .service-card {
            padding: 3rem 0;
        }
    }
</style>

<script>
    let serviceCards = document.querySelectorAll('.service-card');

    const intObsOptions = {
        threshold: 1
    };

    const serviceSectionObs = new IntersectionObserver((entries, intObsOptions) => {
        entries.forEach(entry => {
            // if (entry.isIntersecting) {
            //     serviceCards.forEach(card => {
            //         card.classList.remove('hidden');
            //     });
            if (!entry.isIntersecting) {
                return;
            } else {
                entry.target.classList.remove('hidden');
            };
        }, intObsOptions);
    });

    serviceCards.forEach(card => serviceSectionObs.observe(card));
</script>