---
import '../styles/global.css';

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fylo Dark Theme Landing Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="theme-toggle"></div>

        <Nav />

        <slot />

		<Footer />		
	</body>
</html>

<style>
	.theme-toggle {
		width: 1rem;
		height: 1rem;
		background-color: lime;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		border-radius: 0 0 0 10rem;
	}

	@media (min-width: 1440px) {
		.theme-toggle {
			width: 2rem;
			height: 2rem;
		}
	}
</style>